<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <meta name="viewport" content="width=device-width" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <script type="text/javascript" src="~/app/StringResources.js"></script>
        <script type="text/javascript">
            var locale = '@System.Threading.Thread.CurrentThread.CurrentCulture.Name';
        </script>
        <script id="microloader" type="text/javascript" src="~/touch/microloader/development.js"></script>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        @RenderBody()
        <div id="appLoadingIndicator">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </body>
</html>
